.resume__container {
  max-width: 855px;
  display: flex;
  justify-content: space-around;
  padding: 127px 0 31px;
  margin: auto;
}
.resume__header {
  margin-bottom: 40px;
}
.resume__img {
  vertical-align: top;
  margin-left: 115px;
}
.resume__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  max-width: 497px;
}
.resume__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 38px;
  color: #21243D;
}
.resume__botton {
  width: 208px;
  height: 47px;
  background: #ff6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}

.post {
  background: #EDF7FA;
}
.post__top {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 148px;
}
.post__recent {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
  margin-bottom: 2px;
}
.post__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: 148px;
  margin-right: 156px;
  padding-bottom: 32px;
}
.post__item {
  flex: 0 1 49%;
  padding: 24px 21px 18px 23px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 418px;
}
.post__all {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00A8CC;
}
.post__all:hover {
  opacity: 0.9;
}
.post__title {
  max-width: 374px;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
  margin-bottom: 27px;
  cursor: pointer;
}
.post__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
  margin-bottom: 17px;
}
.post__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
  margin-bottom: 7px;
}

.works__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
  margin-top: 15px;
}
.works__item {
  display: flex;
  margin-top: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.works__container {
  max-width: 858px;
  margin: auto;
}
.works__img {
  margin-right: 18px;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
}

.nav__list {
  position: relative;
  display: flex;
  gap: 33px;
  margin: 27px 60px;
}
.nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
  transition: opacity 0.3s ease;
}
.nav__link:hover {
  opacity: 0.6;
}

.description__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
  margin-bottom: 16px;
  cursor: pointer;
}
.description__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}
.description__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}
.description__time {
  background: #142850;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  padding: 5px 15px;
  margin-right: 36px;
}
.description__date {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.footer__container {
  align-items: center;
}
.footer__list {
  display: flex;
  justify-content: center;
  margin-top: 134px;
  margin-bottom: 26px;
  gap: 35px;
}
.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
  text-align: center;
  margin-bottom: 22px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */